$font-stack: 'Avenir', Helvetica, Arial, sans-serif;

$primary-color: #144852;
$font-color: #000;
$font-primary: #405e64;
$font-primary-selected: #c0dee3;
$font-selected: #fff;
$background: #fff;
$background-light: #eff4f5;
$background-selected: #017c91;
$border-primary: #a9c3c7;
$border-light: #c1d5d7;
$border-input: #93b2b7;

$font-small: 0.85em;
$font-medium: 1.2em;
$font-big: 1.5em;
$font-large: 2em;
$header-margin: 0.67em 0em;
